---
const {links} = Astro.props
---

<div
  class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8"
  id="website-menu"
  x-cloak
  x-show="open"
  x-collapse
  x-collapse.duration.500ms
>
  <div class="grid grid-cols-1 gap-16 pb-24 pt-6 lg:grid-cols-2 lg:pt-12">
    <div
      class="bg-primary-500/10 dark:bg-primary-400/10 hidden items-center justify-center rounded-3xl px-6 py-8 lg:flex"
    >
      <p
        class="text-primary-950/70 dark:text-primary-200/70 max-w-sm text-xl italic leading-loose"
      >
        <span class="font-medium">Stone</span> is a premium Astro theme specially
        designed for Business, Marketing, SaaS and Startup websites.
      </p>
    </div>

    <!-- Navigation -->
    <nav
      class="divide-primary-900/10 dark:divide-primary-300/10 flex flex-col gap-1 divide-y"
    >
      {
        links.map((link) => (
          <a
            href={link.href}
            class="text-primary-950 dark:text-primary-200 group inline-flex py-6 text-3xl font-medium tracking-tight transition focus-visible:outline-none sm:py-8 sm:text-4xl"
          >
            <div class="group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 flex flex-1 items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2">
              <div class="flex items-center gap-6">
                <span class="group-hover:underline">{link.name}</span>
              </div>
              <svg
                class="text-primary-600 dark:text-primary-400 h-6 w-6 sm:h-8 sm:w-8"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                aria-hidden="true"
              >
                <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" />
              </svg>
            </div>
          </a>
        ))
      }
    </nav>
  </div>
</div>
