---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/layout/Navbar.astro'
import Footer from '../components/layout/Footer.astro'
import About from '../components/home/About.astro'
import Cta from '../components/home/Cta.astro'
import Expertise from '../components/home/Expertise.astro'
import Hero from '../components/home/Hero.astro'
import Services from '../components/home/Services.astro'
import Testimonials from '../components/home/Testimonials.astro'
---

<Layout
  title="Agra | Marketing Digital con resultados"
  description="Meta Ads | Social Media | Contenido Creativo | SEO | Email Marketing | Desarrollo Web"
>
  <Navbar />
  <main>
    <Hero />
    <Services />
    <Expertise />
    <About />
    <Testimonials />
    <Cta />
  </main>
  <Footer />
</Layout>
